#middlediv{
    height:1400px;
    width: 100%;
    
}
#filterdiv{
    height:500px;
    width:100%;
    background-image:url(image/cake_decorate.webp);
    background-repeat:no-repeat;
    background-size: 100% 500px;
}
#heading{
    margin-left: 35%;
    margin-top:10%;
    position: absolute;
}

#contentdiv{
    height: 880px;
    background-color: rgb(253, 158, 123);
    width:100%;
    border: 2px solid rgb(235, 235, 178);
}
#contentheading{
    margin-left: 35%;
    margin-top:1%;
    position: absolute;
    font-size:40px;
    color:olivedrab;
    font-family: 'Great Vibes',sans-serif;
    font-weight:bold;
}
#block{
    height:800px;
    width:98%%;
    margin-top:70px;
    margin-left:1%
    
}
.contentblock{
    height: 350px;
    width:25%;
    float:left;
    margin-top:20px;
    margin-left:5%;
    background-color:rgb(201, 201, 250);
    box-shadow: 15px 20px 10px gray ;
    animation: dance 10s infinite;
}
@keyframes dance {
    0%{transform:rotate(-5deg)}
    25%{transform:rotate(0deg)}
    0%{transform:rotate(5deg)}
    0%{transform:rotate(0deg)}
    0%{transform:rotate(-5deg)}
}
.contentblock > img{
    height:220;
    width:100%;
}
#blockheading{
    color:rgb(241, 179, 64);
    font-size: 30px;
    font-family: 'Great Vibes',sans-serif;
    text-align: center;
    margin-top:2%
}
.btn {
    margin-left:35%;
    color: #fff;
    background-color:red
}
.contentblock > p{
    color:gray;
    font-size: 20px;
    font-family: 'Great Vibes',sans-serif;
    text-align: center;
}

#aboutdiv{
    height: 400px;
    width: 100%;
    border: 2px solid gray;
    background-color: rgb(247, 224, 228);
}
.aboutimg{
    height: 300px;
    width: 40%;
    border: 2px solid rgb(245, 96, 96);
    margin-top:3%;
    margin-left:5%;
    float: left;
}
.aboutimg > img {
    height:300px;
    width: 100%;
}
.abouttext{
    height: 300px;
    width: 40%;
    
    margin-top:3%;
    margin-left:10%;
    float: left;
}
.Aboutheading{
    text-align: center;
    font-size:30px;
    color:hotpink;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top:5%
}
p{
    text-align:center;
    font-size:20px;
    color:rgb(202, 104, 69);
    margin-top: 3%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#footerdiv{
    height: 100px;
    width: 100%;
    background-color: rgb(247, 155, 155);
}
#foottext{
    font-size :20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight:bold
}
#mediaicon{
    text-align: center
}
.slogo{
    height:30px;
    width:30px;
    margin-left:1%
}

@media screen and (max-width:1600px){
    Body{
        background-color: rgb(253, 158, 123);
    }
}

@media screen and (max-width:1400px){
    Body{
        background-color: rgb(253, 158, 123);
    }
}

@media screen and (max-width:1200px){
    Body{
        background-color: rgb(253, 158, 123);
    }
}

@media screen and (max-width:1000px){
    Body{
        background-color: rgb(253, 158, 123);
    }
}

@media screen and (max-width:800px){
    Body{
        background-color: pink;
    }
}

@media screen and (max-width:289px){
    Body{
        background-color: pink;
        .contentblock > p{
            font-size: 10px;
        #heading > p{
            font-size: 20px;
        }
        }
    
}